@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* color tokens */
  --color-gray-50:  #FAFAFA;
  --color-gray-100: #F3F3F5;
  --color-gray-400: #A1A1A1;
  --color-gray-500: #717182;
  --color-gray-950: #0A0A0A;

  --color-white:    #FFFFFF;
  --color-black:    #000000;
  --color-orange-500: #FF8904;

  --color-primary:           var(--color-gray-50);
  --color-secondary:     var(--color-gray-400);
  --color-bg:           var(--color-gray-950);
  --color-surface:      #111214;
  --color-border:       #232428;
  --color-accent:       var(--color-orange-500);

  /* font weight */
  --fw-regular: 400;
  --fw-medium: 500;

  /* letter-spacing tokens (px) */
  --track-0: 0px;
  --track--15: -0.15px;
  --track--31: -0.31px;
  --track--44: -0.44px;

  /* breakpoints */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 80rem; /* 1280px */
}

:root {
  /* primary */
  --btn-primary-bg: #ffffff;
  --btn-primary-fg: #0a0a0a;
  --btn-primary-bg-hover: #f3f3f5;


  /* outline */
  --btn-outline-bg: transparent;
  --btn-outline-fg: #ffffff;         
  --btn-outline-border: #e6e6ea33;   
  --btn-outline-bg-hover: #111214;   
}

/* light mode */
:root:not(.dark) {
  --color-primary:           #0A0A0A;     
  --color-secondary:     #717182;      
  --color-bg:           #FFFFFF;      
  --color-surface:      #F3F3F5;     
  --color-border:       #E6E6EA;     

  --btn-primary-bg: #ff8904;
  --btn-primary-fg: #ffffff;
  --btn-primary-bg-hover: #ff9c2b;   

  --btn-outline-fg: #0a0a0a;
  --btn-outline-border: #dcdee2;
  --btn-outline-bg-hover: #f3f3f5;
}


@layer base {
  html { color-scheme: dark light; font-family: var(--font-inter, Inter), ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif; }
  body { @apply bg-bg text-primary; font-weight: var(--fw-regular); font-size: 14px;  }
}

/* weights */
@utility fw-r { font-weight: var(--fw-regular); }
@utility fw-m { font-weight: var(--fw-medium); }

/* font-size */
@utility tx-12 { font-size: 12px; }
@utility tx-14 { font-size: 14px; }
@utility tx-16 { font-size: 16px; }
@utility tx-18 { font-size: 18px; }
@utility tx-20 { font-size: 20px; }
@utility tx-22 { font-size: 22px; }

/* line-height */
@utility lh-16 { line-height: 16px; }
@utility lh-18 { line-height: 18px; }
@utility lh-20 { line-height: 20px; }
@utility lh-22 { line-height: 22px; }
@utility lh-24 { line-height: 24px; }
@utility lh-26 { line-height: 26px; }
@utility lh-27 { line-height: 27px; }
@utility lh-30 { line-height: 30px; }
@utility lh-32 { line-height: 32px; }

/* letter-spacing (tracking) */
@utility track-0   { letter-spacing: var(--track-0); }
@utility track--15 { letter-spacing: var(--track--15); }
@utility track--31 { letter-spacing: var(--track--31); }
@utility track--44 { letter-spacing: var(--track--44); }
